<app-navbar></app-navbar>
<div class="adminDashboardParent">
    <div class="requestList">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">SL No:</th>
                    <th scope="col">Request</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>