<div class="loginParent">
    <div class="loginChild w-25">
        <div class="loginLogo mb-5">
            <img src="../../../assets/jotform-logo.svg" alt="">
        </div>
        <div class="input-group mb-3">
            <input type="text" class="form-control" aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-default" placeholder="Username">
        </div>

        <div class="input-group mb-3">
            <input type="text" class="form-control" aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-default" placeholder="Password">
        </div>
        <button type="button" class="btn btn-dark w-100">Login</button>
        <p>Don't have an account? <a (click)="routeToRegistrationPage()">Register Now</a></p>
    </div>
</div>