.loginParent {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loginChild p {
    text-align: center;
    margin-top: 10px;
}

.loginChild p a {
    color: #5e8ad1;
    cursor: pointer;
}